* {
    margin: 0px;
    padding: 0px;
}

div.pieChart {
    margin:0 auto ;
    height: 320px;
    filter: drop-shadow(8px 6px 6px rgba(0, 0, 0, 0.15));
}

g {
    font-size: 13px;
}



.weekBox {
    display: flex;
    width: 220px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 0px auto ;
    background-color: #F1F1F1;
    filter: drop-shadow(8px 6px 6px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
}

.weekBox  h1 {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #572e2ef0;
 }